* {
  font-family: 'Varela', sans-serif;
  color: White;
  text-decoration: none;
  text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a:visited, a:link, a:hover, a:active {
    color: Black;
}
h2 {
    display: inline;
}
